#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@ # --with apache2

override_dh_auto_clean:
	rm -fr log debian/centreon-web

override_dh_auto_build:

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/share/perl5/centreon/centreon
	export DESTDIR=$(DESTDIR) ; bash ./install.sh -f debian/varinstall-debian
	sed -i -e 's|@CENTREON_ETC@|/etc/centreon|' -e 's|@CENTREON_LOG@|/var/log/centreon' -e 's|@CENTREON_VARLIB@|/var/lib/centreon' $(DESTDIR)/usr/share/centreon/config/centreon.config.php
	sed -i -e 's/_CENTREON_PATH_PLACEHOLDER_/centreon/g' $(DESTDIR)/usr/share/centreon/www/index.php
	sed -i -e 's|@PHP_BIN@|/usr/bin/php|g' /usr/share/centreon/bin/{centreon,export-mysql-indexes,generateSqlLite,import-mysql-indexes}
	composer install --no-dev --optimize-autoloader
