#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

%:
	dh $@ # --with apache2

override_dh_auto_clean:
	rm -fr log debian/centreon-web

override_dh_auto_build:

override_dh_auto_install:
	export DESTDIR=debian/centreon-web ; \
	mkdir -p $${DESTDIR}/usr/share/perl5/centreon/centreon ;\
	bash ./install.sh -f debian/varinstall-debian
