#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

DESTDIR := debian/centreon-web
export HOME=/tmp

%:
	dh $@ --with apache2

override_dh_auto_clean:
	rm -fr log debian/centreon-web

override_dh_auto_build:

override_dh_auto_install:
	# FIXME
	mkdir -p $(DESTDIR)/usr/share/perl5
	mkdir -p $(DESTDIR)/usr/share/centreon/
	composer install --no-dev --optimize-autoloader
	npm install
	npm run build
	export DESTDIR=$(DESTDIR) ; bash ./install.sh -f debian/varinstall-debian
	cp $(DESTDIR)/usr/share/centreon/examples/centcore.init.d debian/centcore.init
	cp $(DESTDIR)/usr/share/centreon/examples/centcore.default debian/centcore.default
	dh_installinit --name=centcore
	rm debian/centcore.init debian/centcore.default
	rm -f $(DESTDIR)/usr/share/centreon/filesUpload
	rm -f $(DESTDIR)/usr/share/centreon/installDir
	mkdir $(DESTDIR)/usr/share/centreon/filesUpload
	mkdir $(DESTDIR)/usr/share/centreon/installDir
	# cp composer.json $(DESTDIR)/usr/share/centreon/ ; cd $(DESTDIR)/usr/share/centreon/ ; composer install --no-dev --optimize-autoloader
	# cp package.json package-lock.json $(DESTDIR)/usr/share/centreon
	# cd $(DESTDIR)/usr/share/centreon ; export HOME=/tmp ; npm install webpack
	# cd $(DESTDIR)/usr/share/centreon ; export HOME=/tmp ; npm install
	# cd $(DESTDIR)/usr/share/centreon ; export HOME=/tmp ; npm run build # ; npm prune --production
	export HOME=/tmp ; npm run build # ; npm prune --production
	sed -i -e 's|@CENTREON_ETC@|/etc/centreon|' -e 's|@CENTREON_LOG@|/var/log/centreon|' -e 's|@CENTREON_VARLIB@|/var/lib/centreon|' $(DESTDIR)/usr/share/centreon/config/centreon.config.php
	sed -i -e 's|@PHP_BIN@|/usr/bin/php|g' $(DESTDIR)/usr/share/centreon/bin/centreon
	sed -i -e 's|@PHP_BIN@|/usr/bin/php|g' $(DESTDIR)/usr/share/centreon/bin/export-mysql-indexes
	sed -i -e 's|@PHP_BIN@|/usr/bin/php|g' $(DESTDIR)/usr/share/centreon/bin/generateSqlLite
	sed -i -e 's|@PHP_BIN@|/usr/bin/php|g' $(DESTDIR)/usr/share/centreon/bin/import-mysql-indexes
	cp $(DESTDIR)/usr/share/centreon/www/install/install.conf.dist.php $(DESTDIR)/usr/share/centreon/www/install/install.conf.php
	find $(DESTDIR) -type f -print0 | xargs -0 sed -i -e "s|$(DESTDIR)||g" -e 's/_CENTREON_PATH_PLACEHOLDER_/centreon/g'
